/* Kontakt-Sektion */
.contact-main-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-blue-square {
    width: 20px;
    height: 20px;
    background-color: #83B4FF; /* Blaue Farbe */
    margin-right: 10px;
}

.contact-section {
    padding: 20px;
    background-color: #F6F5F2;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group article {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.form-group h3 {
    color: #1A2130;
    margin-bottom: 5px;
}

.form-group p {
    color: #5A72A0;
    margin: 0;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .contact-section {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group article {
        padding: 8px;
    }

    .form-group h3 {
        font-size: 1.2em;
    }

    .form-group p {
        font-size: 1em;
    }
}

@media (max-width: 460px) {
    .body-page-container, .main-contact-container, .contact-container,
    .contact-section {
        margin: 0;
        margin-bottom: 5px;
        padding: 10px;
    }
    
}

@media (max-width: 350px) {
    .body-page-container, .main-contact-container, .contact-container, 
    .contact-section {
        margin: 0;
        margin-bottom: 5px;
        padding: 5px;
    }
    
}