/* Ausbildung Sektion */
.education-main-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-blue-square {
    width: 20px;
    height: 20px;
    background-color: #83B4FF; /* Blaue Farbe */
    margin-right: 10px;
}

.inhalt-kfm-education, .inhalt-it-education, 
.inhalt-basicit-education {
    padding: 20px;
    background-color: #F6F5F2;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.kfm-course {
    margin-top: 15px;
    padding: 10px;
    background-color: #F6F5F2; /* Box-Hintergrundfarbe */
    border: 1px solid #838383;
    border-radius: 5px;
}

/* Versteckter Text mit Übergang */
.hidden-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.ausbildung-course:hover .hidden-text,
.kfm-course:hover .hidden-text {
    max-height: 500px;
}

/* Sektion Ausbildung */
.ausbildung-section {
    padding: 20px;
    background-color: #F6F5F2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ausbildung-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1A2130; /* Textfarbe */
}

/* Artikel Inhalte */
.inhalte-article {
    margin: 20px;
}

/* Kategorie Stile */
.ausbildung-category {
    margin-bottom: 30px;
}

.ausbildung-category h3 {
    color: #5A72A0; /* Textfarbe */
    border-bottom: 2px solid #83B4FF; /* Randfarbe */
    padding-bottom: 5px;
}

.ausbildung-category h2 {
    text-align: left;
}


/* Kurs Stile */
.ausbildung-course {
    margin-top: 15px;
    padding: 10px;
    background-color: #F6F5F2; /* Box-Hintergrundfarbe */
    border: 1px solid #838383;
    border-radius: 5px;
}

.ausbildung-course h4 {
    color: #83B4FF; /* Textfarbe */
    margin-bottom: 10px;
}

.ausbildung-course p {
    color: #1A2130; /* Textfarbe */
}

/* Responsive Design */
@media (max-width: 768px) {
    .ausbildung-section {
        padding: 15px;
    }

    .ausbildung-category {
        margin-bottom: 20px;
    }

    .ausbildung-course {
        margin-top: 10px;
        padding: 8px;
    }
}

@media (max-width: 460px) {
    .main-education-container, .inhalte-article, .inhalt-basicit-education,
     .inhalt-it-education, .inhalt-kfm-education, .body-page-container, 
     .ausbildung-section {
        margin: 0;
        margin-bottom: 5px;
        padding: 10px;
    }
    
}

@media (max-width: 350px) {
    .main-education-container, .inhalte-article, .inhalt-basicit-education,
     .inhalt-it-education, .inhalt-kfm-education, .body-page-container, 
     .ausbildung-section {
        margin: 0;
        margin-bottom: 5px;
        padding: 5px;
    }
    
}