
/* Stile für die Games-Sektion */
.games-section {
    padding: 20px;
    background-color: #F6F5F2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.games-section h1 {
    color: #1A2130; /* Textfarbe */
    margin-bottom: 20px;
}

/* Stile für die einzelnen Spiele */
.game {
    margin-bottom: 30px;
}

.game h2 {
    color: #83B4FF; /* Textfarbe */
    margin-bottom: 10px;
}

.game p {
    color: #5A72A0; /* Textfarbe */
}

.game a {
    color: #83B4FF; /* Linkfarbe */
    text-decoration: none;
}

.game a:hover {
    text-decoration: underline;
}

/* Code Beispiele */
.code-examples {
    text-align: left;
    margin-top: 20px;
}

.code-examples section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F6F5F2; /* Box-Hintergrundfarbe */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.code-examples h3 {
    color: #5A72A0; /* Textfarbe */
    margin-bottom: 10px;
}

.code-examples pre {
    background-color: #1A2130; /* Hintergrundfarbe für Codeblock */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

/* Responsive Design für kleinere Bildschirme */
@media (max-width: 768px) {
    .games-section {
        padding: 15px;
    }

    .game {
        margin-bottom: 20px;
    }

    .code-examples section {
        padding: 10px;
    }
}
