/* Hauptcontainer */
.main-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

/* Farbiger Hintergrund */
.color-underlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(186, 235, 255); /* Leichtes Blau mit Transparenz */
    
}

/* Willkommen Sektion */
.welcome-section {
    padding: 20px;
    background-color: rgb(203, 224, 255); /* Hintergrundfarbe mit leichter Transparenz */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    text-align: center;
    position: relative;
    
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; /* Damit sich die Elemente bei kleinen Bildschirmen umbrechen */
}

.profile-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    text-align: center;
    max-width: 300px;
    margin-right: 20px;
}

.profile-image img {
    border-radius: 50%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    color: #1A2130;
    margin: 10px 0;
}

.profile-info p {
    color: #0053cf;
}

.welcome-text {
    max-width: 600px;
}

.welcome-text h1 {
    font-size: 2.5em;
    color: #1A2130;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 1.2em;
    color: #2d77ff;
}

.action-buttons {
    margin: 20px 0;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #4780d6;
    color: #FFF;
}

.btn-primary:hover {
    background-color: #3b5992;
}

.btn-secondary {
    background-color: #FFF;
    color: #83B4FF;
    border: 2px solid #83B4FF;
}

.btn-secondary:hover {
    background-color: #83B4FF;
    color: #FFF;
}

.welcome-description {
    color: #1A2130;
}

/* Responsive Design */
@media (max-width: 768px) {
    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .welcome-text {
        text-align: center;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-primary, .btn-secondary {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}
